/* Pratik Bhatt */


/* Cusror Moving effect */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* background: #000; */
}

.text {
    position: relative;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1 {
    color: #fff;
    font-size: 800%;
}

.show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at var(--x) var(--y), transparent 13%, rgba(0, 0, 0, .98) 20%)
}